.fakebook{max-width:800px;min-width:400px;width:85%;margin: auto;  margin-top: 30px;}
.postform-box, .comment-box{width: 98%;margin: 7px auto;border: 1px solid #f0f0f0;padding: 10px 10px 30px 10px;background-color: white;}
.postform .thinkwhat{border-bottom: 1px solid #f0f0f0;padding:10px 0;margin: 0 0 6px 0;}
.postform [type='submit'] {  background-color: rgb(58, 87, 149);
							  color: white;
							  border-radius: 3px;
							  border: 0;
							  float: right;
							  padding: 5px 10px;}
textarea {width: 100%; height: 60px;}
body {background-color: rgb(244, 245, 245);}
.fakebook-nav-bar {
  background-color: rgb(58, 87, 149);
  height: 30px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.9;}
 .fakebook-nav-bar-icon {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  margin: 5px 0 5px 5%;
  line-height: 25px;
  font-size: 19px;
  font-weight: bolder;
  color: rgb(58, 87, 149)
}
table.infobox {font-size: 11pt;}
td.infobox-icon-td {min-width: 60px;height: 60px;}
td.infobox-txt-td {width: 1000px;  vertical-align: top;padding-top: 6px;}
.fakePersonalIcon {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 45px;
  line-height: 56px;
}
.usrnames{font-size:20px;}
.datetime {color: rgb(200, 188, 188);}
.otherfuncs {
  border-top: 1px solid #f0f0f0;
  margin-top: 5px;
}
.like{
	width: 30px;
	height: 30px;
	background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABxElEQVQ4T6WSP2haYRTFz3kPRC34SIlDkECDIA7t2KFgZwtCl4CYoSUWEZrlZZC69ykuGihtE5CkJEtwyOQWiNmypAjyhi6FQh0qNRgQ/AfxfV957RMSU4uhd/mGe+6P755zif8sOvMrALYBPAFwAWAHwJbTUwHoAF4AuA/gFMAbRwcbsKIoSh3AAvmHJ6W0nz0hRIrkEcnVqd4PIcQjAJf0+XwHo9Ho5fQmQggIIfZVVV2fDF/XuFyud71eb5N+v/+i3+8v/s0Ky7KgqvYGt0vTtO+tVusBNU0TUsqJF3Nb6na7R+1228NQKNTrdDr35p50hIFAoGOa5iLT6fR5tVp9fFdAMpk8LhQKzzgYDBLxeHzLNM2leSHRaPRruVzeIHlCKaUyHo+zhmEkKpXKQ8uylFkgj8dzpev651QqtUfyk637bZ4NAfC80WisZ7PZp81m0z6YGxUOh38Wi8XTYDD4keTZpHnDfSnlUrfb3dR1fa1ery9PRJFI5FupVDrwer0fSF5eJ9+KT0rpAvA6k8ls1Gq1UCwW+5LL5d4D2CU5nv7ZzPyHw+GrfD6fMQzjLcnKLF9mAhxfEiQP/5XOnS9wGvYLy/yhESK4tS4AAAAASUVORK5CYII=")
	no-repeat 50% 50%;
	position: absolute;
	margin-top: 2px;
	background-size: 15px;
	margin-left: -8px;
	cursor: pointer;
}
.like.liked{
	background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACFUlEQVQ4T52Tu2tUQRjFz3fncR9rtNIIyrK+NsWyIbCspJDYCFairbVYCCpiIf4HFloJNsHWTrFRG5soYlghGIWFFKkkaeILNLt779x5yJ3NursxEXTgwDAz5zdnHh9hpDk0BDDhCAt6dPxvfSom3YEjk0awB+D8PEKhwflzFgc3aWnpk59vNg8ahbvQ+ixyLaH0E5a7W7S+8pVcpRJZxd45KeoIJbykAIRYY9ydBGO51nhDxk4hzwGVA5kCZdlywM0smclj15xk9xGHQLQlD5GA4I8ApHC4BK0BpbwZaeZF3fQ66UPHFxCK04giIImAuFDcT8K5RhAQrGUeUJh7PaCXAt0USNPXpA+f2EAc7kcSY0wFsDgKBYCz/ehpYeyN6jPpcvUH4mjCm0uFSkOQDAHGAGMAlQ2NnQ7Q8aCfZMpTH10S1pEkQ0Ap6R8jikBSwA12L+J3usAWgDrdZTLl6m0XR3f+JwF1ezfI1WrSKHqJJJ77xzt4xj5ULvQ/Uq22x1g5j1J0cdsrAEEAWIuxV0izh+z7xlVaXc08YNB0vXkZsbyHUO71/4BzgAhwrg9Q6gtUdoW33j4eeMYAPs3MbMVyeuqEmAELfgPI2PcB8nO0uLg+uukfAA+Zni6ZIHwBCuZ8AutaLN88Q+325vbC2hHgIUcb+7TIW0QIGTMNare/7VSVuwKKxXm5ego2YGJt5dVuJf0Ls8H4xYOvp3IAAAAASUVORK5CYII=") no-repeat 50% 50%;
}
